<head>

    <!-- Bootstrap Core CSS -->
    <link href="static/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/landing-page.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="static/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">
</head>

<div ng-controller="HomeCtrl">
    <div id="headerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-12">
                    <h1>Trébuchet. Clément</h1>

                    <h3>Linux Engineer / Software Developer | <a href="mailto:clement.trebuchet@gmail.com">clement.trebuchet@gmail.com</a>
                    </h3>
                </div>
                <!--/.col-lg-12 -->
            </div>
            <!--/.row -->
        </div>
        <!--/.container -->
    </div>
    <!--/.#headerwrap -->

    <section id="about" name="about"></section>
    <div id="intro">
        <div class="container">
            <div class="row">

                <div class="col-lg-2 col-lg-offset-1">
                    <h5>ABOUT</h5>
                </div>
                <div class="col-lg-7">
                    <p ng-bind-html="users.about" ng-if='!isAuthenticated'>{{ users.about }}</p>
                    <a href="#" ng-if='isAuthenticated' editable-textarea="users.about" e-style="color: green"
                       e-rows="10" e-cols="60" onaftersave="updateAny()">
                        <pre>{{ users.about }}</pre>
                    </a>
                </div>
                <div class="col-lg-2">
                    <p><a href="#"><i class="icon-file"></i></a>
                        <sm>DOWNLOAD PDF</sm>
                    </p>
                </div>

            </div>
            <!--/.row -->
        </div>
        <!--/.container -->
    </div>
    <!--/ #intro -->

    <section id="resume" name="resume"></section>
    <div class="container desc">
        <div modal="success_modal">
            <div class="col-sm-4">
                <div style="font-size: 36px" class="alert alert-success" ng-animate="'animate'"
                     ng-hide="update_success === false">
                    <span class="label label-success label-as-badge">update success</span>
                </div>
            </div>
        </div>
    </div>
    <!--EDUCATION DESCRIPTION -->
    <div class="container desc">
        <!--Modal education form -->
        <modal title="Add an education cursus" visible="showModal">
            <form role="form" name="education" ng-controller="HomeCtrl" ng-submit="addEducation(education)">
                <div class="form-group">
                    <label for="cursus_title">Cursus Title</label>
                    <input type="text" ng-model="cursus_title" class="form-control" id="cursus_title"
                           placeholder="Enter a name for this cursus"/>
                </div>
                <div class="form-group">
                    <label for="cursus_location.school_name">School Name</label>
                    <input type="text" ng-model="school_name" class="form-control" id="cursus_location.school_name"
                           placeholder="Enter the school name"/>
                </div>
                <div class="form-group">
                    <label for="cursus_location.school_address">School Address</label>
                    <input type="text" ng-model="school_address" class="form-control"
                           id="cursus_location.school_address" placeholder="Enter the school address"/>
                </div>
                <div class="form-group">
                    <label for="cursus_location.school_city">School City</label>
                    <input type="text" ng-model="school_city" class="form-control" id="cursus_location.school_city"
                           placeholder="Enter the school city"/>
                </div>
                <div class="form-group">
                    <label for="cursus_location.school_link">School Links</label>
                    <input type="text" ng-model="school_link" class="form-control" id="cursus_location.school_link"
                           placeholder="Enter internet school website"/>
                </div>
                <div class="form-group">
                    <label for="cursus_date_start">Start year</label>
                    <input type="date" ng-model="cursus_date_start" class="form-control" id="cursus_date_start"
                           placeholder="ex 2009-01-10T00:00Z"/>
                </div>
                <div class="form-group">
                    <label for="cursus_date_end">End year</label>
                    <input type="date" ng-model="cursus_date_end" class="form-control" id="cursus_date_end"
                           placeholder="ex 2009-01-10T00:00Z"/>
                </div>
                <div class="form-group">
                    <label for="cursus_status">Cursus Status</label>
                    <input type="text" ng-model="cursus_status" class="form-control" id="cursus_status"
                           placeholder="Enter the status for this cursus"/>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </modal>
        <h5>EDUCATION</h5>

        <button class="btn btn-default btn-lg" ng-click="toggleModal()" ng-show="isAuthenticated"><span
                class="glyphicon glyphicon-plus-sign"></span></button>
        <div class="row" ng-repeat="education in users.education">
            <div class="col-lg-2 col-lg-offset-1">

            </div>
            <div ng-hide="users.$resolved"><i class="icon-file">Loading…</i></div>
            <div>

                <div class="col-lg-6">
                    <p>
                        <t ng-if='isAuthenticated' editable-text="education.cursus_title" onaftersave="updateAny()">{{
                            education.cursus_title | uppercase}}
                        </t>
                        <t ng-if='!isAuthenticated'>{{ education.cursus_title }}</t>
                        <br/>
                        <t ng-if='isAuthenticated' editable-text="education.cursus_location.school_name"
                           onaftersave="updateAny()">{{
                            education.cursus_location.school_name }}
                        </t>
                        <t ng-if='!isAuthenticated'>{{ education.cursus_location.school_name }}</t>
                        <br/>
                        <t ng-if='isAuthenticated' editable-text="education.cursus_location.school_address"
                           onaftersave="updateAny()">{{
                            education.cursus_location.school_address }}
                        </t>
                        <t ng-if='!isAuthenticated'>{{ education.cursus_location.school_address }}</t>
                        <br/>
                        <t ng-if='isAuthenticated' editable-text="education.cursus_location.school_city"
                           onaftersave="updateAny()">{{
                            education.cursus_location.school_city }}
                        </t>
                        <t ng-if='!isAuthenticated'>{{ education.cursus_location.school_city }}</t>
                        <br/>
                        <a ng-if='isAuthenticated' href="{{ education.cursus_location.school_link }}"
                           editable-url="education.cursus_location.school_link" onaftersave="updateAny()">{{
                            education.cursus_location.school_link
                            }}</a>
                        <a ng-if='!isAuthenticated' href="{{ education.cursus_location.school_link }}">{{
                            education.cursus_location.school_link }}</a>
                        <br/>
                        <i ng-if="isAuthenticated" editable-bsdate="education.cursus_date_start" e-is-open="data.isOpen"
                           e-ng-click="data.isOpen = true" e-datepicker-popup="dd/MM/yyyy hh:mm:ss" e-init-date="false"
                           onaftersave="updateAny()">Start: {{ education.cursus_date_start |date:"dd/MM/yyyy" }}</i>
                        <i ng-if="!isAuthenticated">Start: {{ education.cursus_date_start | date:"dd/MM/yyyy"}}</i><br/>
                        <i ng-if="isAuthenticated" editable-bsdate="education.cursus_date_end" e-is-open="data.isOpen"
                           e-ng-click="data.isOpen = true" e-datepicker-popup="dd/MM/yyyy hh:mm:ss" e-init-date="false"
                           onaftersave="updateAny()">End: {{education.cursus_date_end |date:"dd/MM/yyyy" }}</i>
                        <i ng-if="!isAuthenticated">End: {{ education.cursus_date_end | date:"dd/MM/yyyy"}}</i><br/>
                    </p>
                </div>
                <div class="col-lg-3">
                    <p>
                        <sm ng-if="isAuthenticated" editable-bsdate="education.cursus_date_end" e-is-open="data.isOpen"
                            e-ng-click="data.isOpen = true" e-datepicker-popup="dd/MM/yyyy hh:mm:ss" e-init-date="false"
                            onaftersave="updateAny()">
                            GRADUATING IN {{ education.cursus_date_end | date:"dd/MM/yyyy"}}
                        </sm>
                        <sm ng-if="!isAuthenticated">GRADUATING IN : {{ education.cursus_date_end | date:"dd/MM/yy"}}
                        </sm>

                        <br/>
                        <imp>
                            <sm ng-if='isAuthenticated' e-style="color: green" editable-text="education.cursus_status"
                                onaftersave="updateAny()">{{
                                education.cursus_status | uppercase }}
                            </sm>
                            <sm ng-if='!isAuthenticated'>{{ education.cursus_status | uppercase }}</sm>

                        </imp>
                    </p>

                </div>

            </div>
        </div>
        <!--/.row -->
        <br>
        <hr>
    </div>
    <!--/.container -->

    <!--Modal work form -->
    <modal title="Add a work experience" visible="showModale">
        <form role="form" name="work" ng-controller="HomeCtrl" ng-submit="addWork(work)">
            <div class="form-group">
                <label for="company_name">Entreprise Name</label>
                <input type="text" ng-model="company_name" class="form-control" id="company_name"
                       placeholder="Enter a name for company"/>
            </div>
            <div class="form-group">
                <label for="title">Work position</label>
                <input type="text" ng-model="title" class="form-control" id="title"
                       placeholder="Enter your work position"/>
            </div>
            <div class="form-group">
                <label for="area">Work place</label>
                <input type="text" ng-model="area" class="form-control" id="area"
                       placeholder="Enter the work place"/>
            </div>
            <div class="form-group">
                <label for="start">Start year</label>
                <input type="date" ng-model="start" class="form-control" id="start"
                       placeholder="ex 2009-01-10T00:00Z"/>
            </div>
            <div class="form-group">
                <label for="end">End year</label>
                <input type="date" ng-model="end" class="form-control" id="end"
                       placeholder="ex 2009-01-10T00:00Z"/>
            </div>
            <div class="form-group">
                <label for="actual"> Is this work currrent ?</label>
                <input type="checkbox" ng-model="actual" class="form-control" id="actual"/>
            </div>
            <div class="form-group">
                <label for="description">Work description</label>
                    <textarea ng-model="description" class="form-control" id="description"
                              placeholder="Enter the description for this work"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </modal>
    <!--WORK DESCRIPTION -->
    <div class="container desc">
        <h5>WORK</h5>
        <button class="btn btn-default btn-lg" ng-click="toggleModale()" ng-show="isAuthenticated"><span
                class="glyphicon glyphicon-plus-sign"></span></button>
        <div class="row" ng-repeat="work in users.works">

            <div class="col-lg-2 col-lg-offset-1">

            </div>
            <div class="col-lg-6">
                <p>
                    <t>{{ work.title }}</t>
                    <br/>
                    {{ work.company_name }} <br/>
                </p>
                <p>
                    <more ng-bind-html="work.description">{{ work.description }}</more>
                </p>
            </div>
            <div class="col-lg-3">
                <p>
                    <sm>{{ work.start | date:"dd/MM/yyyy" }} - {{ work.end | date:"dd/MM/yyyy" }}</sm>
                </p>
                <p>
                    <sm ng-hide="work.actual === false" class="alert alert-info">
                        <input type="radio" checked="{{ work.actual }}" disabled/>
                         This is my actual work
                    </sm>
                </p>
            </div>

        </div>
        <!--/.row -->
        <br>
        <hr>
    </div>
    <!--/.container -->


    <!--AWARDS DESCRIPTION -->
    <div class="container desc">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-1">
                <h5>AWARDS</h5>
            </div>
            <div class="col-lg-6">
                <p>
                    <t>Best Web Design</t>
                    <br/>
                    Black Tie Site <br/>
                </p>
            </div>
            <div class="col-lg-3">
                <p>
                    <sm>NOVEMBER 2013</sm>
                </p>
            </div>

            <div class="col-lg-6 col-lg-offset-3">
                <p>
                    <t>Designer of the Year</t>
                    <br/>
                    Awwwards Site
                </p>
                <p>
                    <more>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                        has
                        been the industry's standard dummy text ever since the 1500s, when an unknown printer
                        took a
                        galley of type and scrambled it to make a type specimen book.
                    </more>
                </p>
            </div>
            <div class="col-lg-3">
                <p>
                    <sm>2013</sm>
                </p>
            </div>

        </div>
        <!--/.row -->
        <br>
    </div>
    <!--/.container -->


    <section id="work" name="work"></section>
    <!--PORTFOLIO DESCRIPTION -->
    <div class="container desc">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-1">
                <h5>PORTFOLIO</h5>
            </div>
            <div class="col-lg-6">
                <p><img class="img-responsive" src="assets/img/port01.jpg" alt=""></p>
            </div>
            <div class="col-lg-3">
                <p>CANALS OF ENGLAND</p>

                <p>
                    <more>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                        has
                        been the industry's standard dummy text ever since the 1500s, when an unknown printer
                        took a
                        galley of type and scrambled it to make a type specimen book.<br/><br/>
                        <sm><i class="icon-tag"></i> design</sm>
                    </more>
                </p>
            </div>

            <div class="col-lg-6 col-lg-offset-3">
                <p><img class="img-responsive" src="assets/img/port02.jpg" alt=""></p>
            </div>
            <div class="col-lg-3">
                <p>SANKEY</p>

                <p>
                    <more>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                        has
                        been the industry's standard dummy text ever since the 1500s, when an unknown printer
                        took a
                        galley of type and scrambled it to make a type specimen book.<br/><br/>
                        <sm><i class="icon-tag"></i> front-End</sm>
                    </more>
                </p>
            </div>

            <div class="col-lg-6 col-lg-offset-3">
                <p><img class="img-responsive" src="assets/img/port03.jpg" alt=""></p>
            </div>
            <div class="col-lg-3">
                <p>WE GROW</p>

                <p>
                    <more>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                        has
                        been the industry's standard dummy text ever since the 1500s, when an unknown printer
                        took a
                        galley of type and scrambled it to make a type specimen book.<br/><br/>
                        <sm><i class="icon-tag"></i> web design</sm>
                    </more>
                </p>
            </div>

        </div>
        <!--/.row -->
        <br>
        <br>
    </div>
    <!--/.container -->
</div>