<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <link rel="alternate" hreflang="en" href="https://curriculum.trebuchetclement.fr/"/>
    <base href="/">
    <meta name="fragment" content="!"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Trebuchet Clement Freelancer - DevOps, Python, Java</title>
    <meta name="Content-Type" content="UTF-8">
    <meta name="Title"
          content="Clément Trébuchet - Freelancer">
    <meta name="Description"
          content="I'm a freelancer, my area of ​​expertise covers two aspects : Process automation and infrastructure.Development application software , web and software package">
    <meta name="Revisit-After" content="1 day">
    <meta name="Robots" content="follow">
    <meta name="Rating" content="general">
    <meta name="Distribution" content="global">
    <meta name="Category" content="engineering">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="img/icons/ic.ico"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="bower_components/angular-carousel-3d/dist/carousel-3d.css">
    <link rel="stylesheet" href="bower_components/sweetalert/dist/sweetalert.css">
    <link rel="stylesheet" href="static/bootstrap.css">
    <link rel="stylesheet" href="static/landing-page.css">
    <link rel="stylesheet" href="static/main.css">
    <link rel="stylesheet" href="static/font-awesome.min.css">


    <link rel="stylesheet" href="app.css">
    <link href='static/fontgoogle.css' rel='stylesheet' type='text/css'>
    <link href="bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
    <link rel="stylesheet" href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css">
    <!-- style sheet -->
    <link href="bower_components/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">

</head>
<body ng-app="myApp" ng-controller="UserCtrl" ng-cloak>
<div id="section-topbar">
    <div id="topbar-inner">
        <div class="container">
            <div class="row">
                <div class="dropdown">
                    <ul id="nav" class="nav">
                        <li class="menu-item"><a class="smoothScroll" ng-click="go('/welcome')" title="Home"><i
                                class="icon-home"></i></a></li>
                        <!-- <li class="menu-item"><a class="smoothScroll" href="#resume" title="Resume"><i
                                 class="icon-file"></i></a></li>
                         <li class="menu-item"><a class="smoothScroll" href="#work" title="Works"><i
                                 class="icon-briefcase"></i></a></li>
                         <li class="menu-item"><a class="smoothScroll" href="#contact" title="Contact"><i
                                 class="icon-envelope"></i></a></li>-->
                        <li class="menu-item"><a class="smoothScroll" href="" ng-click="go('/onions')"
                                                 title="Deep web scan"><i class="icon-gear"></i></a></li>
                        <li class="menu-item"><a href="" ng-click="go('/home')" title="Clement Trebuchet Resume"><i
                                class="icon-file"></i></a></li>
                        <li class="menu-item"><a ng-click="go('/admin')" title="Login" href=""><i class="icon-lock"></i></a>
                        </li>
                        <!--<li  class="menu-item"><a href="" ng-click="go('/login')"><i class="icon-signin"></i></a></li>-->
                        <li ng-if='isAuthenticated' class="menu-item"><a ng-click="logout()" href=""><i
                                class="icon-signout"></i></a></li>
                        <!--<li ng-show="isAuthenticated" class="menu-item"><a href="">{{ user.username }}</a></li>-->
                    </ul>
                    <!--/ uL#nav -->
                </div>
                <!-- /.dropdown -->

                <div class="clear"></div>
            </div>
            <!--/.row -->
        </div>
        <!--/.container -->

        <div class="clear"></div>
    </div>
    <!--/ #topbar-inner -->
</div>
<!--/ #section-topbar -->


<div ng-view ng-cloak>

</div>

<br/>
<!--FOOTER DESCRIPTION -->
<div id="footwrap">
    <div class="container">
        <div class="row">

            <div class="col-lg-2">
                <h5>CONTACT</h5>
            </div>
            <div class="col-lg-5">
                <p>
                    <t>Email</t>
                    <br/>
                    clement.trebuchet@gmail.com <br/>
                </p>
                <p>
                    <t>Adress</t>
                    <br/>
                    7 impasse clément ader <br/>
                    31470 <br/>
                    Fonsorbes, France. <br/>
                </p>
                <p>
                    <t>Phone</t>
                    <br/>
                    +33 (0)6 51 24 85 01 <br/>
                </p>
                <p>
                    <t>Legal Informations</t>
                    GEEK CONSULTING
                    <br/>
                    <a target="_blank"
                       href="https://www.infogreffe.fr/societes/entreprise-societe/821442092-geek-consulting-310216B027830000.html">SIRET
                        : 821 442 092 00010</a>
                    <br/>
                </p>
            </div>
            <div class="col-lg-5">

                <h5>SOCIAL LINKS</h5>

                <p>
                    <a target="_blank" href="https://www.linkedin.com/in/clement-trebuchet-74975085"><i
                            class="icon-linkedin"> linkedin</i></a>
                </p>
                <md-card>
                    <md-card-header>
                        <md-card-avatar>
                            <img class="md-user-avatar" src="img/pgp.png"/>
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">PGP</span>
                            <span class="md-subhead">Public Key</span>
                        </md-card-header-text>
                    </md-card-header>
                    <img ng-src="{{imagePath}}" style="max-height: 100px" class="md-card-image" alt="PGP">
                    <md-card-title>
                        <md-card-title-text>
                            Get my PGP public key below.
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="start center">
                        <md-button ngclipboard data-clipboard-target="#clementpgp">Copy to clipboard</md-button>
                    </md-card-actions>
                    <md-card-content>
                        <pre id="clementpgp" style="white-space: pre-line;font-size: 8px">
                            -----BEGIN PGP PUBLIC KEY BLOCK-----
                            Version: GnuPG v1

                            mQMuBFgfM08RCADPPV7DhI0Njc079tVGhn3NJpeZC2qOC3k0tGfHJ106sWcBoBvW
                            xa4nizoPPLviyI/02Hr8Jrc6OqjNW5OSucK2cuaI9o0FSM7Whhncig40rDz6H+gr
                            LhSDMumpkJN1UtgPy0c0eebBXudtslEv3yCxRD3DsOHX7sSocc0XV2BsKgki6ALk
                            bZTxmBy0maKt5DN4+XK4ffYD7+ABsZJ2wNk4aTgbvLPWK6jjVtbkN8tKvtZ6rxNL
                            LhjlcIe/GwI3VhyFlBQ499kuDadtneUtHH8XGwsgVQ5EYckNsmwkasKje5EgB20d
                            hOAeLxpkGiRoTSA7lOK4IFw02WAzqc1EFoLzAQCs7ISiUfqVSJhgOq357a1nbSbH
                            sU1oIKXjHciuGQLGkQf+OeuCCOaT9K9JGSxOEN6cHWSSWzciWHGt+qe/3dFF+7V1
                            bqZP1XY+zIJHQJszzkSkJK6s4zjAp/1m359VoPu9KIILy36EnVvP8dtTrdH+l2Ia
                            ZdMEfbBNf3WaCNU6o3OJjON1p7RuV/aV11TnF0VncG3tbDfvt7aCxkLhLeqbOiYp
                            ZCUuaF6XCVTjTd9/bNzB+ysg74I8dgmUL6g7/CIUYq7HBJ32V/dpFuEugbe8ZNR0
                            rR1722LOB+qqPGRHbKulvDQvKRLzOJO5cCt/i77C+L54Oc237A2ut3DSXWIEqR6e
                            BJoP3TQ41s6eK9kq+PU7sQVSXoxwr7FjlUgXmIyXFwgApcrKeTIkIDjNmnamxDYM
                            VXvjBK8vCAXsTdtMDNo3KVU+IebLSA8JM9eswmzKVH2c/HTfiVZMfxyFJCVU4RWW
                            Z52SsV+1wbSpx1aXfjItLcE+NKPPDRzwA9k5R7WuIz3ihC+r7I8zXqZHDCUG/cTR
                            YbnHMCXLABnD/5bHJQwkJM9XGgomqA6z+tA2sFeRo7JOpqWqx4k+lO1TiLBQTP+h
                            U/xQBrlTbQoUWkQC+R4v/+WPhG35u+4n2YINMby6jj0ium/YfgSKVrpCsp5hQFkR
                            CpEup+8nUDgEC2WN2GLWW9ouVk3ppav8htkKYo6fbtmsC/KtIijczcUqudqUPTPU
                            nbQvQ2xlbWVudCBUcmVidWNoZXQgPGNsZW1lbnQudHJlYnVjaGV0QGdtYWlsLmNv
                            bT6IegQTEQgAIgUCWB8zTwIbAwYLCQgHAwIGFQgCCQoLBBYCAwECHgECF4AACgkQ
                            tYzENtlMCO5I/AD+NG4qnrIrLDL89G2eCpz6diiIgBLAEm1EwYyjDSvSiPUA/0kh
                            HBrJT1NIkZIr0F9lz+2nSGQKYM38iQx+3Ag/ShoyuQINBFgfM08QCACsbL106cM6
                            olMYDvgeWcJZ52uZTST3RrKVGiz/G0wA0e010auxIg4szgU+ZneXTgOX71TNRjrI
                            8fvqcM+IDWsyVKX+Y+M/npzRLn4fCIH6mXW5EuT/Bw2xo90ebdQDGxL7sYqjhNgH
                            drAjLIvurSWObYV3RYFcHGOWOYk1cyg8pmaEOUKP0pDqfNUqtRvkFVyZFAYvmoXW
                            LzkX2tV9I2EQe5D9J2mNxdFN0Mp5V8+1bxmyxPlwETDCm0JqEaWUMbAg/IVXS9bw
                            BpQPV5veFi6TPJ2tpk5HJJJaCn1TO8lTjQaj18TVgmUKDbhiujjt9c/e/UCRdeMk
                            BGmVp95s8X5vAAMFB/4veJXN+Fr/Kz6zo/WUuxIxg+VeR+wfAIYOY1ENBT4O+cgI
                            qp7RFapcBOf7IFrYjb6oMcehCSgueTWdYlko1CU6rrQFHL1zGjSy3irBs6SUaP4A
                            c5qr6b5UATOkwX8MJRqv6t7XY6PUd6DZiVFbSM4m/qN54CN5Ti4QnR/kuXXE18yv
                            15gTnvqWyOQTCXgSWOeMxOrmrJ50Nt5y4Ppq8ysjlRbmlrui32WwnLyoVH6HXdsc
                            SayGPBPShIpqCfhDbn48/84zO0PF8o/eleXCBervs0cVMhgyL6ebKOqdC/A+WIfy
                            R+0sY+ywPdrZNQ07ZKVabqB+Ads5yz/IAHWejXYDiGEEGBEIAAkFAlgfM08CGwwA
                            CgkQtYzENtlMCO7SAQD8Cpdw3Q3Bnm1SnsZ4AyPwImVXTn21o3+yrwXuX64/JAAB
                            AJfwEpY6wifiXg3wtOMSvwMDL/NYXr1Ck8t2c8DnvqJM
                            =sOd7
                            -----END PGP PUBLIC KEY BLOCK-----
                        </pre>
                    </md-card-content>

                </md-card>
            </div>

        </div>
        <!--/.row -->
    </div>
    <!--/.container -->
</div>
<!--/ #footer -->


<!--[if lt IE 7]>

<![endif]-->


<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
<script type="text/javascript" src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript" src="bower_components/angular-carousel-3d/dist/carousel-3d.js"></script>
<script type="text/javascript" src="bower_components/angular-swipe/dist/angular-swipe.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
<script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
<script type="text/javascript" src="bower_components/restangular/src/restangular.js"></script>
<script type="text/javascript" src="bower_components/lodash/lodash.js"></script>
<script type="text/javascript" src="bower_components/angular-cookies/angular-cookies.js"></script>
<script type="text/javascript" src="bower_components/angular-jwt/dist/angular-jwt.js"></script>
<script type="text/javascript" src="bower_components/angular-gettext/dist/angular-gettext.min.js"></script>
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="login/login.js"></script>
<script type="text/javascript" src="admin/admin.js"></script>
<script type="text/javascript" src="home/home.js"></script>
<script type="text/javascript" src="welcome/welcome.js"></script>
<script type="text/javascript" src="onions/onions.js"></script>
<script type="text/javascript" src="components/version/version.js"></script>
<script type="text/javascript" src="components/version/version-directive.js"></script>
<script type="text/javascript" src="components/version/interpolate-filter.js"></script>
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
<script src="https://cdn.rawgit.com/zenorocha/clipboard.js/master/dist/clipboard.min.js"></script>
<script type="text/javascript" src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
<script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<!-- module -->
<script src="bower_components/chart.js/dist/Chart.min.js"></script>
<script src="bower_components/angular-chart.js/dist/angular-chart.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script type="text/javascript" src="bower_components/angular-material/angular-material.js"></script>
<script type="text/javascript" src="bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>
<script type="text/javascript" src="bower_components/angular-seo/angular-seo.js"></script>
<script src="bower_components/ngclipboard/dist/ngclipboard.min.js"></script>
</body>
</html>
