<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <link rel="alternate" hreflang="en" href="https://curriculum.trebuchetclement.fr/"/>
    <base href="/">
    <meta name="fragment" content="!"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Trebuchet Clement Freelancer - DevOps, Python, Java</title>
    <meta name="Content-Type" content="UTF-8">
    <meta name="Title"
          content="Clément Trébuchet - Freelancer">
    <meta name="Description"
          content="I'm a freelancer, my area of ​​expertise covers two aspects : Process automation and infrastructure.Development application software , web and software package">
    <meta name="Revisit-After" content="1 day">
    <meta name="Robots" content="follow">
    <meta name="Rating" content="general">
    <meta name="Distribution" content="global">
    <meta name="Category" content="engineering">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="img/icons/ic.ico"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/run_exit_scan.css">
    <link rel="stylesheet" href="bower_components/angular-carousel-3d/dist/carousel-3d.css">
    <link rel="stylesheet" href="bower_components/sweetalert/dist/sweetalert.css">
    <link rel="stylesheet" href="static/bootstrap.css">
    <link rel="stylesheet" href="static/landing-page.css">
    <link rel="stylesheet" href="static/run_exit_scan.css">
    <link rel="stylesheet" href="static/font-awesome.min.css">


    <link rel="stylesheet" href="app.css">
    <link href='static/fontgoogle.css' rel='stylesheet' type='text/css'>
    <link href="bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
    <link rel="stylesheet" href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css">
    <!-- style sheet -->
    <link href="bower_components/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">

</head>
<body ng-app="myApp" ng-controller="UserCtrl" ng-cloak>
<div id="section-topbar">
    <div id="topbar-inner">
        <div class="container">
            <div class="row">
                <div class="dropdown">
                    <ul id="nav" class="nav">
                        <li class="menu-item"><a class="smoothScroll" ng-click="go('/welcome')" title="Home"><i
                                class="icon-home"></i></a></li>
                        <!-- <li class="menu-item"><a class="smoothScroll" href="#resume" title="Resume"><i
                                 class="icon-file"></i></a></li>
                         <li class="menu-item"><a class="smoothScroll" href="#work" title="Works"><i
                                 class="icon-briefcase"></i></a></li>
                         <li class="menu-item"><a class="smoothScroll" href="#contact" title="Contact"><i
                                 class="icon-envelope"></i></a></li>-->
                        <li class="menu-item"><a class="smoothScroll" href="" ng-click="go('/onions')"
                                                 title="Deep web scan"><i class="icon-gear"></i></a></li>
                        <li class="menu-item"><a href="" ng-click="go('/home')" title="Clement Trebuchet Resume"><i
                                class="icon-file"></i></a></li>
                        <li class="menu-item"><a ng-click="go('/admin')" title="Login" href=""><i class="icon-lock"></i></a>
                        </li>
                        <!--<li  class="menu-item"><a href="" ng-click="go('/login')"><i class="icon-signin"></i></a></li>-->
                        <li ng-if='isAuthenticated' class="menu-item"><a ng-click="logout()" href=""><i
                                class="icon-signout"></i></a></li>
                        <!--<li ng-show="isAuthenticated" class="menu-item"><a href="">{{ user.username }}</a></li>-->
                    </ul>
                    <!--/ uL#nav -->
                </div>
                <!-- /.dropdown -->

                <div class="clear"></div>
            </div>
            <!--/.row -->
        </div>
        <!--/.container -->

        <div class="clear"></div>
    </div>
    <!--/ #topbar-inner -->
</div>
<!--/ #section-topbar -->


<div ng-view ng-cloak>

</div>

<br/>
<!--FOOTER DESCRIPTION -->
<div id="footwrap">
    <div class="container">
        <div class="row">

            <div class="col-lg-2">
                <h5>CONTACT</h5>
            </div>
            <div class="col-lg-5">
                <p>
                    <t>Email</t>
                    <br/>
                    clement.trebuchet@gmail.com <br/>
                </p>
                <p>
                    <t>Adress</t>
                    <br/>
                    7 impasse clément ader <br/>
                    31470 <br/>
                    Fonsorbes, France. <br/>
                </p>
                <p>
                    <t>Phone</t>
                    <br/>
                    +33 (0)6 51 24 85 01 <br/>
                </p>
                <p>
                    <t>Legal Informations</t>
                    GEEK CONSULTING
                    <br/>
                    <a target="_blank"
                       href="https://www.infogreffe.fr/societes/entreprise-societe/821442092-geek-consulting-310216B027830000.html">SIRET
                        : 821 442 092 00010</a>
                    <br/>
                </p>
            </div>
            <div class="col-lg-3">

                <h5>SOCIAL LINKS</h5>

                <p>
                    <a target="_blank" href="https://www.linkedin.com/in/clement-trebuchet-74975085"><i
                            class="icon-linkedin"> linkedin</i></a>

                </p>
            </div>
        </div>
        <!--/.row -->
    </div>
    <!--/.container -->
</div>
<!--/ #footer -->


<!--[if lt IE 7]>

<![endif]-->


<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
<script type="text/javascript" src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript" src="bower_components/angular-carousel-3d/dist/carousel-3d.js"></script>
<script type="text/javascript" src="bower_components/angular-swipe/dist/angular-swipe.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
<script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
<script type="text/javascript" src="bower_components/restangular/src/restangular.js"></script>
<script type="text/javascript" src="bower_components/lodash/lodash.js"></script>
<script type="text/javascript" src="bower_components/angular-cookies/angular-cookies.js"></script>
<script type="text/javascript" src="bower_components/angular-jwt/dist/angular-jwt.js"></script>
<script type="text/javascript" src="bower_components/angular-gettext/dist/angular-gettext.min.js"></script>
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="login/login.js"></script>
<script type="text/javascript" src="admin/admin.js"></script>
<script type="text/javascript" src="home/home.js"></script>
<script type="text/javascript" src="welcome/welcome.js"></script>
<script type="text/javascript" src="onions/onions.js"></script>
<script type="text/javascript" src="components/version/version.js"></script>
<script type="text/javascript" src="components/version/version-directive.js"></script>
<script type="text/javascript" src="components/version/interpolate-filter.js"></script>
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
<script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<!-- module -->
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script type="text/javascript" src="bower_components/angular-material/angular-material.js"></script>
<script type="text/javascript" src="bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>
<script type="text/javascript" src="bower_components/angular-seo/angular-seo.js"></script>
</body>
</html>
