<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Clément Trébuchet - Freelancer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">

    <link rel="stylesheet" href="static/main.css">
    <link rel="stylesheet" href="static/font-awesome.min.css">

    <!--<link rel="stylesheet" href="app.css">-->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <link href="bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">



</head>
<body ng-app="myApp" ng-controller="UserCtrl">
<div id="section-topbar">
    <div id="topbar-inner">
        <div class="container">
            <div class="row">
                <div class="dropdown">
                    <ul id="nav" class="nav">
                        <li class="menu-item"><a class="smoothScroll" ng-click="go('/')" title="Home"><i
                                class="icon-home"></i></a></li>
                       <!-- <li class="menu-item"><a class="smoothScroll" href="#resume" title="Resume"><i
                                class="icon-file"></i></a></li>
                        <li class="menu-item"><a class="smoothScroll" href="#work" title="Works"><i
                                class="icon-briefcase"></i></a></li>
                        <li class="menu-item"><a class="smoothScroll" href="#contact" title="Contact"><i
                                class="icon-envelope"></i></a></li>-->
                        <li class="menu-item"><a href="" ng-click="go('/home')"><i class="icon-info"></i></a></li>
                         <li class="menu-item"><a ng-click="go('/admin')" href=""><i class="icon-lock"></i></a></li>
                        <!--<li  class="menu-item"><a href="" ng-click="go('/login')"><i class="icon-signin"></i></a></li>-->
                        <li ng-if='isAuthenticated' class="menu-item"><a ng-click="logout()" href=""><i class="icon-signout"></i></a></li>
                        <!--<li ng-show="isAuthenticated" class="menu-item"><a href="">{{ user.username }}</a></li>-->
                    </ul>
                    <!--/ uL#nav -->
                </div>
                <!-- /.dropdown -->

                <div class="clear"></div>
            </div>
            <!--/.row -->
        </div>
        <!--/.container -->

        <div class="clear"></div>
    </div>
    <!--/ #topbar-inner -->
</div>
<!--/ #section-topbar -->


<div ng-view>

</div>

<br />
<!--FOOTER DESCRIPTION -->
<div id="footwrap">
    <div class="container">
        <div class="row">

            <div class="col-lg-2 col-lg-offset-1">
                <h5>CONTACT</h5>
            </div>
            <div class="col-lg-6">
                <p>
                    <t>Email</t>
                    <br/>
                    william@blacktie.co <br/>
                </p>
                <p>
                    <t>Adress</t>
                    <br/>
                    Some Ave. 987 <br/>
                    Postal 23892 <br/>
                    London, England. <br/>
                </p>
                <p>
                    <t>Phone</t>
                    <br/>
                    +55 8933-2383 <br/>
                </p>
                <p>
                    <t>Legal Informations</t>
                    <br />
                     <a target="_blank" href="https://www.infogreffe.fr/societes/entreprise-societe/509767349-trebuchet-clement-damien-francis-50976734900020.html?typeProduitOnglet=EXTRAIT&afficherretour=false">SIRET : 509 767 349 00020</a>
                    <br />
                </p>
            </div>
            <div class="col-lg-3">
                <p>
                    <sm>SOCIAL LINKS</sm>
                </p>
                <p>
                    <a href="#"><i class="icon-dribbble"></i></a>
                    <a href="#"><i class="icon-twitter"></i></a>
                    <a href="#"><i class="icon-facebook"></i></a>
                    <a href="#"><i class="icon-linkedin"></i></a>
                    <a href="#"><i class="icon-apple"></i></a>

                </p>
            </div>
        </div>
        <!--/.row -->
    </div>
    <!--/.container -->
</div>
<!--/ #footer -->


<!--[if lt IE 7]>

<![endif]-->


<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/restangular/src/restangular.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-cookie/angular-cookie.js"></script>
<script src="bower_components/angular-jwt/dist/angular-jwt.js"></script>
<script src="app.js"></script>
<script src="login/login.js"></script>
<script src="admin/admin.js"></script>
<script src="home/home.js"></script>
<script src="welcome/welcome.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
<script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>

</body>
</html>
