<head>
    <link rel="stylesheet" href="static/bootstrap.css">
    <link rel="stylesheet" href="static/landing-page.css">
    <style>
        .clearfix:after {
            visibility: hidden;
            display: block;
            font-size: 0;
            content: " ";
            clear: both;
            height: 0;
        }

        .clearfix {
            display: inline-block;
        }

        /* start commented backslash hack \*/
        * html .clearfix {
            height: 1%;
        }

        .clearfix {
            display: block;
        }

        /* close commented backslash hack */
    </style>
</head>
<!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Trébuchet Clément</h1>
                    <h3>Dev / Ops Engineer</h3>
                    <h4>Freelancer </h4>
                    <br/>
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a target="_blank" href="https://twitter.com/teamatcs" class="btn btn-default btn-lg"><i
                                    class="icon-twitter"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a target="_blank" href="https://github.com/clementtrebuchet?tab=repositories"
                               class="btn btn-default btn-lg"><i class="icon-github"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.linkedin.com/in/clement-trebuchet-74975085"
                               class="btn btn-default btn-lg"><i class="icon-linkedin"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                        <li>
                            <a href="#/home" class="btn btn-default btn-lg"><i class="icon-info"></i> <span
                                    class="network-name" translate>About me</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->
<div ng-controller="WelcomeCtrl as app">
    <a name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Skills<br></h2>
                    <p translate class="lead">Software and web
                        application development including Python, Java and Javascript languages</p>
                    <p translate class="lead">Continious
                        integration, test, delivery architecture deployement and administration</p>
                    <p translate class="lead">Open Source
                        infrastructure architecture, deployement and monitoring</p>
                    <p translate class="lead">Team Lead and project management</p>

                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/atelier-devops.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Working with a dev ops approach</h2>
                    <p class="lead">Code – Code Development and Review, continuous integration tools</p>
                    <p class="lead">Build – Version control tools, code merging, Build status</p>
                    <p class="lead">Test – Test and results determine performance</p>
                    <p class="lead">Package – Artifact repository, Application pre-deployment staging</p>
                    <p class="lead">Release – Change management, Release approvals, release automation</p>
                    <p class="lead">Configure – Infrastructure configuration and management, Infrastructure as Code tools</p>
                    <p class="lead">Monitor – Applications performance monitoring, End user experience</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="img/DevOps_schema.jpg" alt="">
                    <img class="img-responsive"  src="img/DevOps-Cloud.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-xm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Technologies<br></h2>
                    <p class="lead">Always choose the best open sources technologies, for your present and future needs.</p>
                </div>
                <carousel3d
                        ng-model="app.slides"
                        options="app.options">

                    <carousel3d-slide ng-repeat="slide in app.slides">
                        <figure>
                            <img ng-src="{{slide.src}}" alt=""/>
                            <figcaption ng-bind="slide.caption"></figcaption>
                        </figure>
                    </carousel3d-slide>

                </carousel3d>

            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <a name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Need a dev ops ? contact me :) </h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="mailto:clement.trebuchet@gmail.com" class="btn btn-default btn-lg"><i
                                    class="glyphicon glyphicon-inbox"></i> <span class="network-name">Gmail</span></a>
                        </li>
                        <li>
                            <a target="_blank" href="https://github.com/clementtrebuchet?tab=repositories"
                               class="btn btn-default btn-lg"><i class="icon-github"></i> <span
                                    class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.linkedin.com/in/clement-trebuchet-74975085"
                               class="btn btn-default btn-lg"><i class="icon-linkedin"></i> <span
                                    class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
</div>