<head>
        <link rel="stylesheet" href="static/login.css">
</head>
<br />
<br />
<div class="container">

    <div class="card card-container" ng-show="!isAuthenticated">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"/>

        <p id="profile-name" class="profile-name-card"></p>

        <form ng-submit="submit(user)" class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="text" ng-model="user.username" placeholder="Username" class="form-control" required autofocus>
            <input type="password" ng-model="user.password" placeholder="Password" class="form-control" required>

            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <input type="submit" class="btn btn-lg btn-primary btn-block btn-signin" value="Login"/>


        </form>
         <div class="alert alert-danger collapse" role="alert" show-errors id="error">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="false"></span>
                <span >{{error}}</span>

            </div>
        <!-- /form -->
        <a href="#" class="forgot-password">
            Forgot the password?
        </a>


    </div>
    <!-- /card-container -->
</div>
<!-- /container -->

